<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fase 03</title>
        <link rel="shortcut icon" type='image/png' href="{% static 'crypto/favicon/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'crypto/css/game.css' %}">
        <script src="{% static 'crypto/js/game.js' %}"></script>
        <script src="{% static 'crypto/js/base.js' %}"></script>
    </head>
    <body>
        <div id="help">
            <a onclick="window.location.href=('../../vigenere')">?</a>
        </div>
        <div id="titles">
            <h1>Fase 03 (Vigenère)</h1><br>
            <div id="bord">
                <h2>Texto criptografado: ioxexqh</h2><br>
                <h2>Key: quinteto</h2>
                <br><br>
                <h3 style="font-size:15px; color: gray; text-shadow:none;">supremo</h3>
            </div>
        </div>
        <br><br><br>
        <div id="formulario">
            <form method="POST" onsubmit="return checar(this)">
                {% csrf_token %}
                <a><b><i>Digite a mensagem descriptografada:</i></b></a><br>
                <input id="caixa" type="text" name="cryptotext" autocomplete="off">
                <br>
                <input id="continuar" type="submit" value="Confirmar">
            </form>
        </div>
        <br><br><br>
        <div id="voltar">
            <a onclick="backButton()"><</a>
        </div>
    </body>
</html>