<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CryptoSolve: Fim do jogo</title>
    <link rel="shortcut icon" type='image/png' href="{% static 'crypto/favicon/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'crypto/css/fim.css' %}">
    <script src="{% static 'crypto/js/base.js' %}"></script>
    <script src="{% static 'crypto/js/fim.js' %}"></script>
</head>
<body onload="theend()">
    <div class="container">
        <div class="congratulations">
            <iframe width="100%" height="100%" src="../../final" frameborder="0"></iframe>
        </div>
    </div>

    <div id="header">

    </div>

    <div id="footer">

    </div>
</body>
</html>