<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CryptoSolve: Como jogar</title>
        <link rel="shortcut icon" type='image/png' href="{% static 'crypto/favicon/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'crypto/css/comojogar.css' %}">
        <script src="{% static 'crypto/js/base.js' %}"></script>
    </head>
    <body>
        <a id="voltar" onclick="backButton()">Voltar</a>
        <div id="cifra">
            <img id="imagem" src="{% static 'crypto/img/comojogar.png' %}">
            <div id="oito">
                <ol id="sete">
                    <h2 id="titulo" style="font-size:50px; color:white;">Como jogar?</h2>
                    <br><br>
                    <li>Botao de duvida: ajuda a identificar criptografia</li>
                    <br>
                    <li>Mostra a criptografia utilizada</li>
                    <br>
                    <li>Texto criptografado</li>
                    <br>
                    <li>Key ou outra forma que pode ser utilizada para descriptografar</li>
                    <br>
                    <li>Campo que digita a mensagem descriptografada</li>
                    <br>
                    <li>Botao de voltar: volta para a ultima pagina</li>
                </ol>
            </div>

        </div>
    </body>
</html>