<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Congrats</title>
    <link rel="shortcut icon" type='image/png' href="{% static 'crypto/favicon/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'crypto/css/congrats.css' %}">
    <script src="{% static 'crypto/js/base.js' %}"></script>
</head>
<body>

    <div id="global">

        <div class="container">

            <div class="girando">
                <img id="logoimg" src="{% static 'crypto/img/logo.png' %}">
            </div>

            <img id="textlogo" src="{% static 'crypto/img/textlogo.png' %}">

        </div>

        <div class="footer">
            <p>Congratulations</p>
        </div>

    </div>

</body>
</html>