<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CryptoSolve: Contato</title>
        <link rel="shortcut icon" type='image/png' href="{% static 'crypto/favicon/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'crypto/css/contato.css' %}">
        <script src="{% static 'crypto/js/base.js' %}"></script>
    </head>

    <body>
        <div id="principal">
            <h1><b>Contato</b></h1>
            <div id="exp">
                <p>Entre em contato através do email</p>
                <i style="text-align: center; font-size: 100px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">cryptosolve.web@gmail.com</i>
            </div>
            <div id="voltar">
                <a onclick="backButton()">Voltar</a>
            </div>
        </div>
    </body>
</html>