<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CryptoSolve: Contato</title>
        <link rel="shortcut icon" type='image/png' href="{% static 'crypto/favicon/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'crypto/css/contato.css' %}">
        <script src="{% static 'crypto/js/base.js' %}"></script>
    </head>

    <body>
        <div id="principal">
            <h1><b>Contact</b></h1>
            <div id="exp">
                <p>Entre em contato através do email</p>
                <i style="bottom: 40%; left: 25%; font-size: 100px;">email@algumacoisa.com</i>
            </div>
            <div id="voltar">
                <a href="../">Voltar</a>
            </div>
        </div>
    </body>
</html>