<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CryptoSolve: Fim</title>
    <link rel="shortcut icon" type='image/png' href="{% static 'crypto/favicon/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'crypto/css/endgame.css' %}">
</head>
<body>
    <div class="container">
        <div class="congratulations">
            <iframe width="850" height="400" src="../congrats" frameborder="0"></iframe>
        </div>
    </div>
</body>
</html>