<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>FAQ</title>
        <link rel="stylesheet" href="{% static 'crypto/css/faq.css' %}">
    </head>
    <body>
        <div id="principal">
            <h1><b>FAQ</b></h1>
            <div id="exp">
                <p>EXPLICAÇÃO DO SITE</p>
                <i>Se consiste em um jogo com o objetivo de entender
                    criptografias básicas e como elas são utilizadas
                    a fim de criptografar textos, o objetivo é avançar
                    os níveis e conforme avance a criptografia utilizada
                    seja mais difícil de ser descriptografada.
                    <br><br>
                    Se você tem problemas de epilepsia, favor não jogar o jogo por
                    devidos motivos de segurança para você mesmo.
                </i>
            </div>
            <div id="voltar">
                <a href="../">Voltar</a>
            </div>
        </div>
    </body>
</html>