<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CryptoSolve</title>
    <link rel="stylesheet" href="{% static 'crypto/css/stylehome.css' %}">
</head>
<body>
<nav>
    <ul class="Homepage">
        <div class="Homepage"><div class="Label"> CryptoSolve</div>
        <div class="Row_10">
            <div class="Label_3">No que consiste o CryptoSolve?</div>
            </div>
            <div class="Label_2">Se consiste em um jogo com o objetivo de entender criptografias básicas e como elas são utilizadas a fim de criptografar textos, o objetivo é avançar os níveis e conforme avance a criptografia utilizada seja mais difícil de ser descriptografada.</div>
            <div class="Label_1"> </div>
            <div class="Box"><a href=" {% url 'url_menu' %}">Continuar</a></div>
        </div>
    </ul>
</nav>
</body>
</html>
