<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CryptoSolve: Instruções</title>
        <link rel="shortcut icon" type='image/png' href="{% static 'crypto/favicon/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'crypto/css/instrucoes.css' %}">
        <script src="{% static 'crypto/js/base.js' %}"></script>
    </head>
    <body>
        <div id="voltar">
            <a onclick="backButton()">Voltar</a>
        </div>
        <div id="titulo">
            <h1>Instruções</h1>
        </div>
        <br><br><br><br><br><br><br>
        <div id="instr">
            <ol>
                <li><b><i>Digite todos os textos com todas as letras em minúsculo e com espaços equivalentes;</i></b></li>
                <li><b><i>Haverá um botão de dúvida que é utilizado para entender qual tipo de criptografia usada;</i></b></li>
                <li><b><i>Após inserir o texto basta clicar em confirmar para entrar no próximo nível;</i></b></li>
                <li><b><i>Não deve ser utilizado "tradutores" para concluir as fases.</i></b></li>
            </ol>
        </div>
        <br><br><br>
        <div id="links">
            <a href="/comojogar" style="float: left;">Como jogar?</a>
            <a href="/game/wd" style=" float: right;">Continuar</a>
        </div>
    </body>
</html>