<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CryptoSolve: Menu</title>
        <link rel="shortcut icon" type='image/png' href="{% static 'crypto/favicon/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'crypto/css/menu.css' %}">
        <script src="{% static 'crypto/js/base.js' %}"></script>
    </head>

    <body>
        <div id="principal">
            <div class="container">
                <div id="botoes" style="text-align: center; color: yellow; font-size: 70px;">
                    <button id="b1">
                        <a href="/embreve">Quests</a>
                    </button>
                    <button id="b2">
                        <a href="/instrucoes">Play</a>
                    </button>
                    <button id="b3">
                        <a href="/embreve">Achievements</a>
                    </button>
                </div>
                <div id="titulo">
                    <h1 id="teste">CryptoSolve</h1>
                </div>
                <div id="voltar">
                    <a onclick="backButton()">Voltar</a>
                </div>
            </div>
        </div>
    </body>
</html>