<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CryptoSolve: Menu</title>
    <link rel="stylesheet" href="{% static 'crypto/css/stylemenu.css' %}">
</head>
<body>
<nav>
    <ul class="Menu">
        <div class="Menu"><div class="Label">CryptoSolve</div>
        <div class="Row_3">
            <div class="Box_2">Desafios
        </div>
            <div class="Box">Começar
        </div>
            <div class="Box_3">Conquistas
        </div>
    </div>
            <div class="Box"></div>
    </div>
    </ul>
</nav>
</body>
</html>