<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Menu</title>
        <link rel="shortcut icon" type='image/png' href="{% static 'crypto/favicon/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'crypto/css/test2.css' %}">
    </head>

    <body>
        <div id="principal">
            <div class="container">
                <form action="../" method="post"></form>
                    <div id="botoes" style="text-align: center; color: yellow; font-size: 70px;">
                        <button id="b1">
                            <a href="../">Quests</a>
                        </button>
                        <button id="b2">
                            <a href="../">Jogar</a>
                        </button>
                        <button id="b3">
                            <a href="../">Achievements</a>
                        </button>
                    </div>

                <div id="titulo">
                    <h1 id="teste"> HALLOWEEN</h1>
                </div>


            </div>
        </div>
    </body>
</html>