<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="shortcut icon" type='image/png' href="{% static 'crypto/favicon/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'crypto/css/test1.css' %}">
    </head>

    <body>

        <div>
             <div class="container">
                 <div id="titulo">
                    <h1 id="teste"> CRYPTOSOLVE </h1>
                 </div>
                 <div id="img">
                    <img id="img2" src="{% static 'crypto/img/logo.png' %}" width="250px" height="250px">
                 </div>
                <article>
                    <section>
                        <div class="efeito">
                            <nav id="menu">
                                <a href="#">FAQ</a>
                                <a href="#">Home</a>
                                <a href="#">Contact</a>
                            </nav>
                        </div>
                    </section>
                </article>
                <aside>
                    <div class="efeito">
                    </div>
                </aside>
             </div>
        </div>


        <footer>Desenvolvido por Murillo Marques e Márcio Paulo</footer>
    </body>
</html>