*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family:frozen;
    src: url('../font/frozen.ttf');
}

@font-face {
        font-family: gameover;
        src: url('../font/gameover.ttf')
        }

body{
    touch-callout: none;
    user-select: none;
    background-color: black;
    background-size: 100%;
}

.container{
    min-width: 960px;
    margin: 0 auto;
}

section{
    background-image: linear-gradient(315deg, black, #00FF7F 40%, black);
    float: left;
    width: 50%;
    height: 100%;
}

aside{
    background-image: linear-gradient(45deg, black , #00FF7F 40%, black);
    float: right;
    height: 100%;
    width: 50%;
}

footer{
    color: yellow;
    background-color: black;
    font-family: helvetica, arial;
    font-size: 30px;
    line-height: 1;
    text-align: center;
}

.efeito{
    background-color: rgba(0, 0, 0, 0.5);
    height: 935px;
}

#menu a{
    font-family: gameover;
    font-size: 50px;
    color: yellow;
    text-shadow: 3px 3px 3px black;
    line-height: 1;
    text-align: left;
    text-decoration: none;
    padding: 20px;
    float: left;
}

#menu a:hover{
    background-color: white;
}

#img{
    background-image: url('logo.png');
    background-size: 100%;
    background-position: center;
    height: 0px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 43%;
}

#teste{
    font-family: frozen;
    color: black;
    height: 0px;
    text-align: center;
    line-height:5;
    width: 100%;
    font-size: 130px;
    text-shadow: 3px 3px 3px orange;
}