        *{
        margin: 0;
        padding: 0;
        }

        body {
        margin: 0px;
        font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', sans-serif;
        }

        div {
            margin:0px;
        }

        .Homepage {
        background-color: #000001;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        }

        .Homepage .Label {
        color: #3bff00;
        text-align: left;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 120px;
        letter-spacing: 0;
        line-height: 1;
        margin-right: 24%;
        margin-left: 24%;
        min-height: 132px;
        margin-top: 120px;
        }

        .Homepage .Row_10 {
        display: grid;
        grid-template-columns: auto 1% 22% 6% 20% 1%;
        grid-template-rows: 21% auto 6% 8% 23% 4%;
        margin-right: 4%;
        margin-left: 4%;
        min-height: 292px;
        margin-top: 68px;
        margin-bottom: 108px;
        }

        .Homepage .Label_2 {
        color: #ffffff;
        text-align: justify;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 40px;
        letter-spacing: 0;
        line-height: 1;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 7;
        }

        .Homepage .Label_1 {
        color: #333333;
        text-align: left;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 17px;
        letter-spacing: 0;
        line-height: 1;
        grid-column-start: 2;
        grid column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        }

        .Homepage .Label_3 {
        color: #3bff00;
        text-align: left;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 60px;
        letter-spacing: 0;
        line-height: 1;
        margin-right: 24%;
        margin-left: 24%;
        min-height: 132px;
        margin-top: 120px;
        }

        .Homepage .Box {
        background-color: #333333;
        color: #ffffff;
        text-align: center;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 40px;
        letter-spacing: 0;
        line-height: 1.7;
        cursor: pointer;
        grid-column-start: 5;
        grid column-end: 7;
        grid-row-start: 5;
        grid-row-end: 6;
        }